<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">
            <img src="~/images/a_logo.png" alt="Bootstrap" width="30" height="24">
        </a>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <div></div>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a asp-controller="Jobs" class="nav-link @Html.GetActiveRouteClassName("Jobs")">Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Clients" class="nav-link @Html.GetActiveRouteClassName("Clients")">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Tallies" class="nav-link @Html.GetActiveRouteClassName("Tallies")">Tallies</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="PoAndInvoices" class="nav-link @Html.GetActiveRouteClassName("PoAndInvoices")">PO & Invoices</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Components" class="nav-link @Html.GetActiveRouteClassName("Components")">Components</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Reports" class="nav-link @Html.GetActiveRouteClassName("Reports")">Reports</a>
                    </li>
                    @* <li class="nav-item">
                        <a asp-controller="Settings" class="nav-link @Html.GetActiveRouteClassName("Settings")">Advance Settings</a>
                    </li> *@
                    <li class="nav-item dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Advance Settings
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item @Html.GetActiveRouteClassName("Users")" asp-controller="Settings" asp-action="Users">Users</a></li>
                            <li><a class="dropdown-item @Html.GetActiveRouteClassName("ListName")" asp-controller="Settings" asp-action="ListName">List Name</a></li>
                            <li><a class="dropdown-item @Html.GetActiveRouteClassName("QuickCostDataEntry")" asp-controller="Settings" asp-action="QuickCostDataEntry">Quick Cost Data Entry</a></li>
                        </ul>
                    </li>

                    <li class="nav-item d-md-none">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#moreAdvMenu" role="button" aria-expanded="false" aria-controls="moreAdvMenu">
                            Advance Settings
                        </a>
                        <div class="collapse" id="moreAdvMenu">
                            <ul class="list-unstyled">
                                <li><a class="nav-link ps-3 @Html.GetActiveRouteClassName("Users")" asp-controller="Settings" asp-action="Users">Users</a></li>
                                <li><a class="nav-link ps-3 @Html.GetActiveRouteClassName("ListName")" asp-controller="Settings" asp-action="ListName">List Name</a></li>
                                <li><a class="nav-link ps-3 @Html.GetActiveRouteClassName("QuickCostDataEntry")" asp-controller="Settings" asp-action="QuickCostDataEntry">Quick Cost Data Entry</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item dropdown d-none d-md-block">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Settings
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item @Html.GetActiveRouteClassName("UserManagement")" asp-controller="UserManagement">User Management</a></li>
                            <li><a class="dropdown-item @Html.GetActiveRouteClassName("UserRoleManagement")" asp-controller="UserRoleManagement">User Role Management</a></li>
                            <li><a class="dropdown-item @Html.GetActiveRouteClassName("ClientManagement")" asp-controller="ClientManagement">Client Management</a></li>
                        </ul>
                    </li>

                    <li class="nav-item d-md-none">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="collapse" href="#moreMenu" role="button" aria-expanded="false" aria-controls="moreMenu">
                            Settings
                        </a>
                        <div class="collapse" id="moreMenu">
                            <ul class="list-unstyled">
                                <li><a class="nav-link ps-3 @Html.GetActiveRouteClassName("UserManagement")" asp-controller="UserManagement">User Management</a></li>
                                <li><a class="nav-link ps-3 @Html.GetActiveRouteClassName("UserRoleManagement")" asp-controller="UserRoleManagement">User Role Management</a></li>
                                <li><a class="nav-link ps-3 @Html.GetActiveRouteClassName("ClientManagement")" asp-controller="ClientManagement">Client Management</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="flex-shrink-0 dropdown d-flex align-items-center">
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small shadow profile-dropdown-menu">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout">Sign out</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</nav>
